body {
    margin: 0px;
    padding: 20px;
    border: 1px dotted black;
}

p {
    color: black;
    margin: 20px;
    border: 1px solid blueviolet;
    /* padding: 30px; */
}

#panda {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: green;
    display: flex;
    justify-content: center;   /* X-axis */
    align-items: center;      /* Y-axis */
    /*transition: all 5s ease;*/

}

#panda:hover  {
    
    background-color: red;
    display: flex;
    justify-content: right;
    align-items: start;


}